@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Lugrasimo&family=Philosopher:wght@400;700&display=swap");
.logo{
    width: 125px;
    height: 125px;
    border-radius: 62.5px;
}
.input{
    border-radius: 0px;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom:2px solid white ;
    color: white;
    height: 35px;
}
.input:focus{
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid crimson;
    color: white;
    box-shadow: none;
    
}
.forms{
    background-color: #212529;
    border-radius: 20px;
    height: 97vh;
}
.btn{
    background-color: crimson;
    border: 0px;
}
.btn:hover{
    background-color: crimson;
}
.bck{
    background-image: url('../img/Landing-page2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: grayscale(30%);
    background-color: #c2b302;
    background-attachment: fixed;
}
.massage{
    position: absolute;
    color: white;
}
h3{
    color: crimson;
}
.passwordText{
    color:#8d852f
}
.text{
    background-color: transparent;
    /* padding:5px; */
    width: 55px;
    height: 35px;
    color: white;
    border-radius: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px white solid;
}
.img2{
    background-image: url('../img/Landing-page2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}